.footer {
    background-image:linear-gradient(to bottom,#004d40,#00251a 100%);
    color: white !important;
    font-family: helvetica;
    font-size: 1.2em;
    letter-spacing: 2px;
    height: justify;
}

  .white{
    color: white !important;

  }

  .hel{
    font-family:helvetica ;
    font-weight: normal;
  }



    .fa:hover{
      text-decoration: none;
    }

    /*footer*/

    #bs-navbar-pairadox a{
      color : white;
    }
   .navbar{
    background-image:linear-gradient(to bottom,#00251a,#004d40 100%);
   }
   body{
    padding-top: 70px;
   }
   .jumbotron{
    color: white;
    background-color:rgba(130,0,0,.8);
    font-family: Poppins-Medium;
   }
   #submitButton{
    background-image: ;
    border:0px solid black;
    background-color: transparent;
    border-radius: 0%;
   }

   #footballA{
    box-sizing: border-box;

   }
   
  #navBarR{
    padding-top: 12px;
  }
    #navBarL{
    padding-top: 12px;
  }
  .btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }
  .dropdown-menu li a{
    background-color: #00251a;
    font-family: 'Droid Serif',serif;
    color: white;
  }
  .dropdown-menu{
    background-color: #00251a;
  }
    #hello{
    padding-top: 5px;
  }
    #hello a:hover{
    background-color: white;
    color: black;
  }

  @font-face {
  font-family: Poppins-Medium;
  src: url('fonts/poppins/Poppins-Medium.ttf'); 
}
  @media(max-width : 768px){
    #searchBar{
      display: none;
    }
  }